language: go
go:
  - 1.x
  - 1.16
  - 1.15
notifications:
  email:
    recipients: dave@brophy.uk
    on_failure: always
install:
  - go get -u github.com/mattn/goveralls                    # only for coveralls.io
  - go get -u github.com/dave/courtney
  - go get -t -v ./...
script:
  - courtney -e -v
after_success:
  - bash <(curl -s https://codecov.io/bash)                 # only for codecov.io
  - goveralls -coverprofile=coverage.out -service=travis-ci # only for coveralls.io
